.vote-container {
  display: flex;
  align-items: center;
  margin-left: 2%;
  margin-top: 2%;
}

.vote-button,
[data-theme='dark'] .vote-button {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.125rem;
  background-color: #dddddd;
  cursor: pointer;
  outline: none;
  color: black;
}

.vote-button-upvoted,
[data-theme='dark'] .vote-button-upvoted {
  background-color: #38a169;
  color: white;
}

.vote-button-downvoted,
[data-theme='dark'] .vote-button-downvoted {
  background-color: #e53e3e;
  color: white;
}

.vote-count {
  margin-left: 0.5rem;
}
